<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corona Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Corona Info in your City!!
                </h1>
                <h2> Is it really safe to go out? </h2>
                <h3> Choose your city</h3>
            </div>
        </div>
    </section>
    <section class="body">
        <div class="hero-body">
            <div class="container">
            <div class="linking">
                <h1> Choose City </h1>
                <p>
                    <a href=karlsruhe> <button> KARLSRUHE </button></a></p>
                    <a href=pforzheim> <button> PFORZHEIM STADT </button></a></p>
                    <a href=stuttgart> <button> STUTTGART </button></a></p>
            </div>
            </div>
        </div>
    </section>
</body>
</html>